body
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

#titulo
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;

    font-size: 32px;
}

#historia
{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
    padding-bottom: 5px;

    font-size: 22px;

    margin-bottom: 15px;
}

#diferenciais
{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
    padding-bottom: 5px;

    font-size: 22px;

    margin-bottom: 15px;
}

p
{
    margin-top: 10px;
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}

figure
{
    background-color: #f2eded;
    border: 1px solid #ccc ;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

#centro-dist
{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

figcaption
{
    font-style: italic;
    margin-top: 10px;
}

#rodape
{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}   

#rodape img
{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho
{
    float: right;
    margin: 0 0 10px 13px;

}

#dif-list{
    padding: 0 60px;
    margin-top: 10px;
    list-style-type: initial;
}

ul li{
    margin-top: 5px;
}